.button {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50px;
    padding-bottom: 13px;

    background: -webkit-linear-gradient(to left, rgb(110, 138, 239), rgb(254, 155, 98));
    background: -o-linear-gradient(to left, rgb(110, 138, 239), rgb(254, 155, 98));
    background: -moz-linear-gradient(to left, rgb(110, 138, 239), rgb(254, 155, 98));
    background: linear-gradient(to left, rgb(110, 138, 239), rgb(254, 155, 98));

}

.button:hover {
    cursor: pointer;

}



