.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white; /* Fundo branco */
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333; /* Letras mais visíveis */
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
    .table th, .table td {
        padding: 6px; /* Reduz o padding para telas menores */
    }

    .table-container {
        overflow-x: auto;
        display: block; /* Faz com que a tabela role horizontalmente em telas menores */
    }
}
