
.footer {
    background-color: transparent;
    text-align: center;
    text-shadow: 2px 2px 5px gray;
    color: black;
    font-family: Arial, sans-serif;
    position: fixed;
    padding: 0px;
    bottom: 0;
    width: 100%;
    font-size: 0.6em;
  
}

/* Media query para dispositivos com largura máxima de 768px (tablets) */
@media (max-width: 768px) {
    .footer {
        width: 50%;
        padding: 8px; 
        text-shadow: 1px 1px 3px gray; 
    }
}

/* Media query para dispositivos com largura máxima de 480px (celulares) */
@media (max-width: 480px) {
    .footer {
        padding: 5px;
        text-shadow: none; 
        font-size: 0.5em;
        width: 40%;
    }
}
